body{
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: rgb(134, 82, 184);
    margin: 0 auto;
    width: 500px;
    padding: 20px;
}

input{
    margin: 0 auto;
    border: solid 0;
    border-radius: 3px;
}

input[type=text], 
input[type=password], 
input[type=email],
input[type=number],
input[type=file],
textarea{
    padding: 10px;
    font-size: 18px;
    outline: none;
    width: 370px;
}
input[type=submit]{
    background-color: #1ee369;
    color: rgb(190, 36, 36);
    padding: 8px;
    border: none;
    width: 200px;
}
.center{
    text-align: center;
}

.opcion{
    padding: 5px 0;
}

.barra{
    background-color:rgb(44, 115, 182);
    border-radius: 4px;
    padding: 10px;
}

.seleccionado{
    background-color: rgb(33, 90, 143);
    border-radius: 4px;
    color: rgb(204, 98, 186);
    padding: 10px;
}

#menu{
    background-color: rgb(110, 77, 172);
    padding: 10px;
}
#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    color: #1E69E3;
    text-decoration: none;
}
#menu ul li a:hover{
    color: rgb(227, 109, 30);
    text-decoration: none;
}
.cerrar-sesion{
    float: right;
}