.centered {
    height: 20%;
    justify-content: center;
    position: fixed;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px auto;
    left: 0;
    right: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #553592;
    
    width: 4em;
    height: 2em;
    border-radius: 70%;
    font-size: 2em;
    background-color: #9966cc;
    color: white;
    outline: none;
}

.instructions {
    position: fixed;
    top: 5%;
    text-aling:justify;
    font-weight: bold;
    font-size: 1.50em;
    color: #ffbf00;
    z-index: 999999;
}
